<mat-card>
    <mat-card-header>
        <mat-card-title class="page-title">Dice Editor</mat-card-title>
    </mat-card-header>
    <mat-card-content class="page-content">
        <form class="dice-settings">
            <mat-form-field id="name-field">
                <mat-label>Name</mat-label>
                <input name="die-name" [(ngModel)]="die.name" matInput>
            </mat-form-field>
            <mat-form-field id="type-field">
                <mat-label>Type</mat-label>
                <mat-select name="die-type" [(ngModel)]="die.type" (ngModelChange)="updateDie()">
                    <mat-option *ngFor="let option of options" [value]="option.value">{{ option.label }}</mat-option>
                </mat-select>
            </mat-form-field>
        </form>
        <div class="dice-viewer-container">
            <app-dice-viewer [dice]="loadedDie"></app-dice-viewer>
        </div>
    </mat-card-content>
    <mat-card-actions class="page-actions">
        <button matButton="outlined" color="primary" class="page-action">Cancel</button>
        <button matButton="filled" color="primary" class="page-action">Save Die</button>
    </mat-card-actions>
</mat-card>
