.dice-settings {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#name-field {
    width: 60%;
}

#type-field {
    width: 35%;
}

.dice-viewer-container {
    height: 40vh;
}

.dice-controls {
    margin-top: 10px;
    display: flex;
    justify-content: flex-end;
}