.side-menu-wrapper {
    background: var(--primary-color);
    height: 100%;
}

.close-button {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    cursor: pointer;
}

.nav-link {
    display: flex;
    align-items: center;
    padding: 10px;
    text-decoration: none;
}