@import 'ngx-toastr/toastr';

:root {
    --primary-color: #f1f1f1;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: Arial, sans-serif;
}

.page-title {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.page-content {
    padding-top: 3% !important;
    height: 55vh;
}

.page-actions {
    justify-content: flex-end;
}

.page-action {
    margin-left: 10px;
}
